[submodule "third_party/FUZZTEST"]
	path = third_party/FUZZTEST
	url = https://github.com/google/fuzztest
# renovate: datasource=git-tags depName=https://github.com/google/fuzztest
	branch = release_2026-06-29
[submodule "third_party/GOOGLE_BENCHMARK"]
	path = third_party/GOOGLE_BENCHMARK
	url = https://github.com/google/benchmark
	branch = main
[submodule "third_party/NLOHMANN_JSON"]
	path = third_party/NLOHMANN_JSON
	url = https://github.com/nlohmann/json
	branch = develop
[submodule "third_party/SPDLOG"]
	path = third_party/SPDLOG
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "third_party/ContainerHub"]
	path = third_party/ContainerHub
	url = git@github.com:Kataglyphis/ContainerHub.git

	branch = main
[submodule "third_party/tomlplusplus"]
	path = third_party/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
	branch = master
[submodule "third_party/nanobind"]
	path = third_party/nanobind
	url = git@github.com:wjakob/nanobind.git
	branch = master
