root = .
search-path = build

filter = Src/*
filter = include/*

exclude-directories = install
exclude-directories = third_party
exclude-directories = .*_deps
exclude-directories = Test
exclude-directories = resources
exclude = .*/(third_party|build[^/]*/_deps|_deps|Test|tests)/.*

print-summary = yes

html-details = ./build/coverage.html

cobertura-pretty = yes
cobertura = build/cobertura.xml

#TBD delete-gcov-files = yes