# Test Report : test_results.xml

<span id="toc"></span>

<table class="index-table">
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<tbody>
<tr class="odd">
<td><ul>
<li>HelloTestCommit.BasicAssertions
<ul>
<li><a
href="#7b39a412-bb5e-4a03-88aa-c85b1c5fee89">HelloTestCommit.BasicAssertions</a></li>
</ul></li>
<li>Integration.VulkanEngine
<ul>
<li><a
href="#84469615-7223-43fd-b297-641dc7f62423">Integration.VulkanEngine</a></li>
</ul></li>
<li>HelloTestCompile.BasicAssertions
<ul>
<li><a
href="#a9193e9f-7437-46f3-b395-2e27c0fb0e94">HelloTestCompile.BasicAssertions</a></li>
</ul></li>
<li>HelloTestCompile.blob
<ul>
<li><a
href="#a2ea2b69-e71e-448e-b35a-82eab3044e50">HelloTestCompile.blob</a></li>
</ul></li>
<li>MyTestSuite.OnePlustTwoIsTwoPlusOne
<ul>
<li><a
href="#3f3fa22c-72f4-42da-8ae6-6ffb7f054cff">MyTestSuite.OnePlustTwoIsTwoPlusOne</a></li>
</ul></li>
<li>MyTestSuite.IntegerAdditionCommutes
<ul>
<li><a
href="#ac531606-9c3a-4a3c-a305-ed7b8b4b73c7">MyTestSuite.IntegerAdditionCommutes</a></li>
</ul></li>
</ul></td>
<td class="failure-index"><ul>
</ul></td>
</tr>
</tbody>
</table>

<div class="testsuite">

## Test Suite: Linux-clang++

<span id="4768c826-69b9-4dd2-a2b4-1e550791575c"></span>

### Results

|          |         |
|----------|---------|
| Duration | 1.0 sec |
| Tests    | 6       |
| Failures | 0       |

<div class="testclasses">

### Tests

<div class="testclass">

#### HelloTestCommit.BasicAssertions

<div class="testcases">

<div class="test outcome outcome-passed">

<span id="7b39a412-bb5e-4a03-88aa-c85b1c5fee89"></span>

|            |                                     |
|------------|-------------------------------------|
| Test case: | **HelloTestCommit.BasicAssertions** |
| Outcome:   | Passed                              |
| Duration:  | 0.012 sec                           |

<div class="stdout">

*Stdout*  

    Running main() from /home/jones/GitHub/Kataglyphis-Inference-Engine/ExternalLib/Kataglyphis_NativeInferencePlugin/native/KataglyphisCppInference/build/_deps/googletest-src/googletest/src/gtest_main.cc
    Note: Google Test filter = HelloTestCommit.BasicAssertions
    [==========] Running 1 test from 1 test suite.
    [----------] Global test environment set-up.
    [----------] 1 test from HelloTestCommit
    [ RUN      ] HelloTestCommit.BasicAssertions
    [       OK ] HelloTestCommit.BasicAssertions (0 ms)
    [----------] 1 test from HelloTestCommit (0 ms total)

    [----------] Global test environment tear-down
    [==========] 1 test from 1 test suite ran. (0 ms total)
    [  PASSED  ] 1 test.

</div>

</div>

</div>

</div>

<div class="testclass">

#### Integration.VulkanEngine

<div class="testcases">

<div class="test outcome outcome-passed">

<span id="84469615-7223-43fd-b297-641dc7f62423"></span>

|            |                              |
|------------|------------------------------|
| Test case: | **Integration.VulkanEngine** |
| Outcome:   | Passed                       |
| Duration:  | 0.011 sec                    |

<div class="stdout">

*Stdout*  

    Running main() from /home/jones/GitHub/Kataglyphis-Inference-Engine/ExternalLib/Kataglyphis_NativeInferencePlugin/native/KataglyphisCppInference/build/_deps/googletest-src/googletest/src/gtest_main.cc
    Note: Google Test filter = Integration.VulkanEngine
    [==========] Running 1 test from 1 test suite.
    [----------] Global test environment set-up.
    [----------] 1 test from Integration
    [ RUN      ] Integration.VulkanEngine
    [       OK ] Integration.VulkanEngine (0 ms)
    [----------] 1 test from Integration (0 ms total)

    [----------] Global test environment tear-down
    [==========] 1 test from 1 test suite ran. (0 ms total)
    [  PASSED  ] 1 test.

</div>

</div>

</div>

</div>

<div class="testclass">

#### HelloTestCompile.BasicAssertions

<div class="testcases">

<div class="test outcome outcome-passed">

<span id="a9193e9f-7437-46f3-b395-2e27c0fb0e94"></span>

|            |                                      |
|------------|--------------------------------------|
| Test case: | **HelloTestCompile.BasicAssertions** |
| Outcome:   | Passed                               |
| Duration:  | 0.01 sec                             |

<div class="stdout">

*Stdout*  

    Running main() from /home/jones/GitHub/Kataglyphis-Inference-Engine/ExternalLib/Kataglyphis_NativeInferencePlugin/native/KataglyphisCppInference/build/_deps/googletest-src/googletest/src/gtest_main.cc
    Note: Google Test filter = HelloTestCompile.BasicAssertions
    [==========] Running 1 test from 1 test suite.
    [----------] Global test environment set-up.
    [----------] 1 test from HelloTestCompile
    [ RUN      ] HelloTestCompile.BasicAssertions
    [       OK ] HelloTestCompile.BasicAssertions (0 ms)
    [----------] 1 test from HelloTestCompile (0 ms total)

    [----------] Global test environment tear-down
    [==========] 1 test from 1 test suite ran. (0 ms total)
    [  PASSED  ] 1 test.

</div>

</div>

</div>

</div>

<div class="testclass">

#### HelloTestCompile.blob

<div class="testcases">

<div class="test outcome outcome-passed">

<span id="a2ea2b69-e71e-448e-b35a-82eab3044e50"></span>

|            |                           |
|------------|---------------------------|
| Test case: | **HelloTestCompile.blob** |
| Outcome:   | Passed                    |
| Duration:  | 0.01 sec                  |

<div class="stdout">

*Stdout*  

    Running main() from /home/jones/GitHub/Kataglyphis-Inference-Engine/ExternalLib/Kataglyphis_NativeInferencePlugin/native/KataglyphisCppInference/build/_deps/googletest-src/googletest/src/gtest_main.cc
    Note: Google Test filter = HelloTestCompile.blob
    [==========] Running 1 test from 1 test suite.
    [----------] Global test environment set-up.
    [----------] 1 test from HelloTestCompile
    [ RUN      ] HelloTestCompile.blob
    [       OK ] HelloTestCompile.blob (0 ms)
    [----------] 1 test from HelloTestCompile (0 ms total)

    [----------] Global test environment tear-down
    [==========] 1 test from 1 test suite ran. (0 ms total)
    [  PASSED  ] 1 test.

</div>

</div>

</div>

</div>

<div class="testclass">

#### MyTestSuite.OnePlustTwoIsTwoPlusOne

<div class="testcases">

<div class="test outcome outcome-passed">

<span id="3f3fa22c-72f4-42da-8ae6-6ffb7f054cff"></span>

|            |                                         |
|------------|-----------------------------------------|
| Test case: | **MyTestSuite.OnePlustTwoIsTwoPlusOne** |
| Outcome:   | Passed                                  |
| Duration:  | 0.004 sec                               |

<div class="stdout">

*Stdout*  

    [.] Sanitizer coverage enabled. Counter map size: 2967, Cmp map size: 262144
    Note: Google Test filter = MyTestSuite.OnePlustTwoIsTwoPlusOne
    [==========] Running 1 test from 1 test suite.
    [----------] Global test environment set-up.
    [----------] 1 test from MyTestSuite
    [ RUN      ] MyTestSuite.OnePlustTwoIsTwoPlusOne
    [       OK ] MyTestSuite.OnePlustTwoIsTwoPlusOne (0 ms)
    [----------] 1 test from MyTestSuite (0 ms total)

    [----------] Global test environment tear-down
    [==========] 1 test from 1 test suite ran. (0 ms total)
    [  PASSED  ] 1 test.

</div>

</div>

</div>

</div>

<div class="testclass">

#### MyTestSuite.IntegerAdditionCommutes

<div class="testcases">

<div class="test outcome outcome-passed">

<span id="ac531606-9c3a-4a3c-a305-ed7b8b4b73c7"></span>

|            |                                         |
|------------|-----------------------------------------|
| Test case: | **MyTestSuite.IntegerAdditionCommutes** |
| Outcome:   | Passed                                  |
| Duration:  | 1.005 sec                               |

<div class="stdout">

*Stdout*  

    [.] Sanitizer coverage enabled. Counter map size: 2967, Cmp map size: 262144
    Note: Google Test filter = MyTestSuite.IntegerAdditionCommutes
    [==========] Running 1 test from 1 test suite.
    [----------] Global test environment set-up.
    [----------] 1 test from MyTestSuite
    [ RUN      ] MyTestSuite.IntegerAdditionCommutes
    FUZZTEST_PRNG_SEED=yU1YxKP0a3vqIWnQnxAPs-hxRB2XhLxS6vV2qve3Y5M
    [       OK ] MyTestSuite.IntegerAdditionCommutes (1000 ms)
    [----------] 1 test from MyTestSuite (1000 ms total)

    [----------] Global test environment tear-down
    [==========] 1 test from 1 test suite ran. (1000 ms total)
    [  PASSED  ] 1 test.

</div>

</div>

</div>

</div>

</div>

</div>

Generated by junit2html
