# Test Report : test_results.xml

<span id="toc"></span>

<table class="index-table">
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<tbody>
<tr class="odd">
<td><ul>
<li>HelloTestCommit.BasicAssertions
<ul>
<li><a
href="#73396f78-c8f9-4823-b205-c60920967e37">HelloTestCommit.BasicAssertions</a></li>
</ul></li>
<li>Integration.VulkanEngine
<ul>
<li><a
href="#c33a5e57-92cd-4e3b-8afc-1870e726ea0f">Integration.VulkanEngine</a></li>
</ul></li>
<li>HelloTestCompile.BasicAssertions
<ul>
<li><a
href="#45f5d240-4803-4799-a7d4-96f1868cb069">HelloTestCompile.BasicAssertions</a></li>
</ul></li>
<li>HelloTestCompile.blob
<ul>
<li><a
href="#2368ade0-1faf-4450-9091-230b9a192e66">HelloTestCompile.blob</a></li>
</ul></li>
<li>MyTestSuite.OnePlustTwoIsTwoPlusOne
<ul>
<li><a
href="#40a952a7-d677-4b8d-adaf-dead551914d6">MyTestSuite.OnePlustTwoIsTwoPlusOne</a></li>
</ul></li>
<li>MyTestSuite.IntegerAdditionCommutes
<ul>
<li><a
href="#8a53507b-b51f-4109-b9f1-18623de8fd6b">MyTestSuite.IntegerAdditionCommutes</a></li>
</ul></li>
</ul></td>
<td class="failure-index"><ul>
</ul></td>
</tr>
</tbody>
</table>

<div class="testsuite">

## Test Suite: Linux-clang++

<span id="1ef01c51-4a27-477f-b743-efb9c2f941b7"></span>

### Results

|          |         |
|----------|---------|
| Duration | 1.0 sec |
| Tests    | 6       |
| Failures | 0       |

<div class="testclasses">

### Tests

<div class="testclass">

#### HelloTestCommit.BasicAssertions

<div class="testcases">

<div class="test outcome outcome-passed">

<span id="73396f78-c8f9-4823-b205-c60920967e37"></span>

|            |                                     |
|------------|-------------------------------------|
| Test case: | **HelloTestCommit.BasicAssertions** |
| Outcome:   | Passed                              |
| Duration:  | 0.009 sec                           |

<div class="stdout">

*Stdout*  

    Running main() from /home/jones/GitHub/Kataglyphis-Inference-Engine/ExternalLib/Kataglyphis_NativeInferencePlugin/native/KataglyphisCppInference/build/_deps/googletest-src/googletest/src/gtest_main.cc
    Note: Google Test filter = HelloTestCommit.BasicAssertions
    [==========] Running 1 test from 1 test suite.
    [----------] Global test environment set-up.
    [----------] 1 test from HelloTestCommit
    [ RUN      ] HelloTestCommit.BasicAssertions
    [       OK ] HelloTestCommit.BasicAssertions (0 ms)
    [----------] 1 test from HelloTestCommit (0 ms total)

    [----------] Global test environment tear-down
    [==========] 1 test from 1 test suite ran. (0 ms total)
    [  PASSED  ] 1 test.

</div>

</div>

</div>

</div>

<div class="testclass">

#### Integration.VulkanEngine

<div class="testcases">

<div class="test outcome outcome-passed">

<span id="c33a5e57-92cd-4e3b-8afc-1870e726ea0f"></span>

|            |                              |
|------------|------------------------------|
| Test case: | **Integration.VulkanEngine** |
| Outcome:   | Passed                       |
| Duration:  | 0.009 sec                    |

<div class="stdout">

*Stdout*  

    Running main() from /home/jones/GitHub/Kataglyphis-Inference-Engine/ExternalLib/Kataglyphis_NativeInferencePlugin/native/KataglyphisCppInference/build/_deps/googletest-src/googletest/src/gtest_main.cc
    Note: Google Test filter = Integration.VulkanEngine
    [==========] Running 1 test from 1 test suite.
    [----------] Global test environment set-up.
    [----------] 1 test from Integration
    [ RUN      ] Integration.VulkanEngine
    [       OK ] Integration.VulkanEngine (0 ms)
    [----------] 1 test from Integration (0 ms total)

    [----------] Global test environment tear-down
    [==========] 1 test from 1 test suite ran. (0 ms total)
    [  PASSED  ] 1 test.

</div>

</div>

</div>

</div>

<div class="testclass">

#### HelloTestCompile.BasicAssertions

<div class="testcases">

<div class="test outcome outcome-passed">

<span id="45f5d240-4803-4799-a7d4-96f1868cb069"></span>

|            |                                      |
|------------|--------------------------------------|
| Test case: | **HelloTestCompile.BasicAssertions** |
| Outcome:   | Passed                               |
| Duration:  | 0.012 sec                            |

<div class="stdout">

*Stdout*  

    Running main() from /home/jones/GitHub/Kataglyphis-Inference-Engine/ExternalLib/Kataglyphis_NativeInferencePlugin/native/KataglyphisCppInference/build/_deps/googletest-src/googletest/src/gtest_main.cc
    Note: Google Test filter = HelloTestCompile.BasicAssertions
    [==========] Running 1 test from 1 test suite.
    [----------] Global test environment set-up.
    [----------] 1 test from HelloTestCompile
    [ RUN      ] HelloTestCompile.BasicAssertions
    [       OK ] HelloTestCompile.BasicAssertions (0 ms)
    [----------] 1 test from HelloTestCompile (0 ms total)

    [----------] Global test environment tear-down
    [==========] 1 test from 1 test suite ran. (0 ms total)
    [  PASSED  ] 1 test.

</div>

</div>

</div>

</div>

<div class="testclass">

#### HelloTestCompile.blob

<div class="testcases">

<div class="test outcome outcome-passed">

<span id="2368ade0-1faf-4450-9091-230b9a192e66"></span>

|            |                           |
|------------|---------------------------|
| Test case: | **HelloTestCompile.blob** |
| Outcome:   | Passed                    |
| Duration:  | 0.014 sec                 |

<div class="stdout">

*Stdout*  

    Running main() from /home/jones/GitHub/Kataglyphis-Inference-Engine/ExternalLib/Kataglyphis_NativeInferencePlugin/native/KataglyphisCppInference/build/_deps/googletest-src/googletest/src/gtest_main.cc
    Note: Google Test filter = HelloTestCompile.blob
    [==========] Running 1 test from 1 test suite.
    [----------] Global test environment set-up.
    [----------] 1 test from HelloTestCompile
    [ RUN      ] HelloTestCompile.blob
    [       OK ] HelloTestCompile.blob (0 ms)
    [----------] 1 test from HelloTestCompile (0 ms total)

    [----------] Global test environment tear-down
    [==========] 1 test from 1 test suite ran. (0 ms total)
    [  PASSED  ] 1 test.

</div>

</div>

</div>

</div>

<div class="testclass">

#### MyTestSuite.OnePlustTwoIsTwoPlusOne

<div class="testcases">

<div class="test outcome outcome-passed">

<span id="40a952a7-d677-4b8d-adaf-dead551914d6"></span>

|            |                                         |
|------------|-----------------------------------------|
| Test case: | **MyTestSuite.OnePlustTwoIsTwoPlusOne** |
| Outcome:   | Passed                                  |
| Duration:  | 0.006 sec                               |

<div class="stdout">

*Stdout*  

    [.] Sanitizer coverage enabled. Counter map size: 3067, Cmp map size: 262144
    Note: Google Test filter = MyTestSuite.OnePlustTwoIsTwoPlusOne
    [==========] Running 1 test from 1 test suite.
    [----------] Global test environment set-up.
    [----------] 1 test from MyTestSuite
    [ RUN      ] MyTestSuite.OnePlustTwoIsTwoPlusOne
    [       OK ] MyTestSuite.OnePlustTwoIsTwoPlusOne (0 ms)
    [----------] 1 test from MyTestSuite (0 ms total)

    [----------] Global test environment tear-down
    [==========] 1 test from 1 test suite ran. (0 ms total)
    [  PASSED  ] 1 test.

</div>

</div>

</div>

</div>

<div class="testclass">

#### MyTestSuite.IntegerAdditionCommutes

<div class="testcases">

<div class="test outcome outcome-passed">

<span id="8a53507b-b51f-4109-b9f1-18623de8fd6b"></span>

|            |                                         |
|------------|-----------------------------------------|
| Test case: | **MyTestSuite.IntegerAdditionCommutes** |
| Outcome:   | Passed                                  |
| Duration:  | 1.005 sec                               |

<div class="stdout">

*Stdout*  

    [.] Sanitizer coverage enabled. Counter map size: 3067, Cmp map size: 262144
    Note: Google Test filter = MyTestSuite.IntegerAdditionCommutes
    [==========] Running 1 test from 1 test suite.
    [----------] Global test environment set-up.
    [----------] 1 test from MyTestSuite
    [ RUN      ] MyTestSuite.IntegerAdditionCommutes
    FUZZTEST_PRNG_SEED=UBISMRquumzVP2V-Pc2l4zYWWmqViUXHdAxaAdee-Yc
    [       OK ] MyTestSuite.IntegerAdditionCommutes (1000 ms)
    [----------] 1 test from MyTestSuite (1000 ms total)

    [----------] Global test environment tear-down
    [==========] 1 test from 1 test suite ran. (1000 ms total)
    [  PASSED  ] 1 test.

</div>

</div>

</div>

</div>

</div>

</div>

Generated by junit2html
